<ion-view view-title="{{menu}}">

  <ion-content>

    <ion-list show-delete="false">
      <ion-item ng-repeat="movie in movies track by $index" class="item-thumbnail-left" href="#/app/detail/{{type}}/{{$index}}">

          <img img-preload class="full-image fade" ng-src="{{movie.posters.thumbnail}}">

    
        {{movie.title}}
        {{movie.year}}   

      </ion-item>
    </ion-list>
    
    <ion-infinite-scroll ng-hide="!scroller"
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll>

  </ion-content>
</ion-view>



