
<ion-view view-title="{{menu}}">
  <ion-content>
  		<!--- -->
  <div class="list card">

    <div class="item item-avatar">
      <img src="{{movie.posters.thumbnail}}">
      <h2>{{movie.title}}</h2>
      <p>{{movie.year}}</p>
    </div>

    <div class="item item-body">
      <img img-preload class="full-image fade" ng-src="{{movie.largeImage}}">

     <!-- <img img-preload class="fade" ng-src="{{imgSrc}}"> -->
      <p>
      {{movie.synopsis}}
      </p>
      <p>
        <a href="#" class="subdued">1 Like</a>
        <a href="#" class="subdued">5 Comments</a>
      </p>
    </div>

    <div class="item tabs tabs-secondary tabs-icon-left">
      <a class="tab-item" href="#">
        <i class="icon ion-thumbsup"></i>
        Save
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-chatbox"></i>
        Tell your friends
      </a>
    </div>

  </div>


  </ion-content>
</ion-view>
