<ion-view view-title="{{menu}}">

  <ion-content>

    <ion-list show-delete="shouldShowDelete">
      <ion-item ng-repeat="movie in movies track by $index" class="item-thumbnail-left" href="#/app/detail/wanttowatch/{{$index}}">

          <img img-preload class="full-image fade" ng-src="{{movie.posters.thumbnail}}">

    
        {{movie.title}}
        {{movie.year}}
        <ion-delete-button class="ion-minus-circled" ng-click=""></ion-delete-button>
            
        <ion-option-button class="button-assertive"
                           ng-click="delete($index)">
          Delete
        </ion-option-button>        

      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>



